page-singletransaction {
    .toolbar-background-md {
        border-color: color($colors,bgrey);;
        background: color($colors,bgrey);;
      }
      .profileimage {
        border-radius: 50%;
        max-height: 81%;
        max-width: 56%;
        align-self: center;
    }
    .imagediv {
        height: 30%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .infodiv {
        height: 70%;
        background-color:#fff; 
    }
}
