page-home {
  

    ion-card-header {
        font-weight: bold;
    }

    .header{
        background-color: white;
        display: flex;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
}
