page-settings {
    .sizeoftext {
        font-weight: 600;
    }

    .profileimage {
        border-radius: 50%;
        max-height: 62%;
        max-width: 56%;
        align-self: center;
    }

    .maindiv {
        height: 40%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .listdiv {
        height: 60%;
    }
}