page-editprofile {
    .profileimage {
        border-radius: 50%;
        max-height: 62%;
        max-width: 56%;
        align-self: center;
    }

    .imagediv {
        height: 40%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .inputdiv {
        height: 60%;
    }
}
