<ion-content>
  <ion-grid no-padding class="rowdiv">
    <ion-row class="rowdiv">
      <ion-col class="firstside" col-lg-6 col-md-6>

        <ion-slides autoplay="5000" loop="true" speed="500" pager>

          <ion-slide class="bg1">

          </ion-slide>

          <ion-slide class="bg2">

          </ion-slide>

          <ion-slide class="bg3">

          </ion-slide>

        </ion-slides>
      </ion-col>
      <ion-col class="secondside" col col-md-6 col-lg-6>
        <div class="heading">
          <div margin class="subheading">
            <div (click)="signup()" float-left class="signup">
              <p ion-text color="light" no-margin>Sign Up</p>
            </div>
            <div (click)="signin()" float-right class="signin">
              <p color="light" ion-text no-margin>Sign In </p>
            </div>
          </div>
        </div>

        <div style="height:90%" *ngIf="divtoshow=='signup'" class="inputdivs">


          <div class="listdiv">
          
            <ion-list margin>

              <ion-item>
                <ion-label stacked>First Name</ion-label>
                <ion-input autocomplete="off" placeholder="Enter Your First Name" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked>last Name</ion-label>
                <ion-input autocomplete="off" placeholder="Enter Your Last Name" type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Phone Number</ion-label>
                <ion-input autocomplete="off" placeholder="Enter Your Phone Number" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked>Email </ion-label>
                <ion-input autocomplete="off" class="text-input" placeholder="Enter Your Email" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input autocomplete="off" placeholder="" type="password"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label ion-text color="light">I agree with all the statements in the <span ion-text color="light"><u><b>terms and services</b> </u></span></ion-label>
                <ion-checkbox color="fgreen" checked="true"></ion-checkbox>
              </ion-item>
              <ion-row>
                <ion-col col-6>

                  <button color="fgreen" ion-button round full>Sign Up</button>
                </ion-col>
                <ion-col col-6>
                  <p ion-text (click)="signin()" color="light"><u>I have an account already</u></p>
                </ion-col>
              </ion-row>
            </ion-list>
          </div>
        </div>
        <div style="height:90%"  *ngIf="divtoshow=='signin'" class="inputdivs">
       

          <div class="listdiv">
            
            <ion-list margin>


              <ion-item>
                <ion-label stacked>Email </ion-label>
                <ion-input autocomplete="off" placeholder="Enter Your Email" type="text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input autocomplete="off" placeholder="****" type="password"></ion-input>
              </ion-item>


              <ion-row>
                <ion-col col-6>

                  <button color="fgreen" ion-button round full>Sign In</button>
                </ion-col>
                <ion-col col-6>
                  <p ion-text (click)="signup()" color="light"><u>I don't have an account</u></p>
                </ion-col>
              </ion-row>
            </ion-list>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>